.main_nav {
  background-image: url(../static/Photos/charlotteSkyline.jpg);
}

.main_topbar {
  /* margin-bottom: 20px; */
  display: flex;
  justify-content: right;
  align-items: baseline;
}

.header {
  justify-content: center;
  display: flex;
}
